* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none;
}
.game{
    display: flex;
}
.game-board{

}
.game-board .box-wrapper{
    display:flex;
    width: 120px;
    flex-wrap: wrap;
}
.game-board .box-wrapper .box-item{
    width: 40px;
    height: 40px;
    border: 1px solid #000;
}
.game-info{
    margin-left: 40px;
}
